<div class="output-line">
    <div class="input-line">
        <span class="prompt">user@ubuntu</span>:<span class="directory">~</span>$&nbsp;{{ input }}
    </div>
    <div class="command-output">
        {{ output|raw }}
    </div>
</div>